[build]
builder = "NIXPACKS"
buildCommand = "composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader --no-scripts"

[deploy]
preDeployCommand = "php bin/console cache:clear --env=prod && php bin/console cache:warmup --env=prod && php bin/console doctrine:migrations:migrate --no-interaction --allow-no-migration --env=prod"
startCommand = "php -S 0.0.0.0:${PORT} -t public"
