{% extends 'base.html.twig' %}

{% block body %}
<main class="flex-fill">
<section class="hero-inscription">
    <div class="hero-inner container">
      <h3 class="display-6 fw-bold mb-2 hero-slogan">Voyagez Ecoresponsable</h3>
      <p class="mb-3 hero-slogan">Partagez vos trajets, Economisez et protégez la planète</p>
    </div>
  </section>
<div class="container my-5">

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-4">
            <div class="card shadow-lg p-4 border-0">
                <div class="text-center mb-4">
                    <h2 class="titre-page">Inscription</h2>
                    <p>
                        Rejoins <span class="eco fw-bold">Eco</span><span class="ride">Ride</span> et commence à covoiturer.
                    </p>
                </div>
                {{ form(registerForm) }}
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
